<section>
    <h3>МИ СТВОРЮЄМО ФОТОРЕАЛІСТИЧНІ ЗОБРАЖЕННЯ МОДЕЛЕЙ</h3>
    <ul>
        <li>
            <picture>
                <source
                    srcset="../../../images/realistic_1-2_mob_1x.png 1x, ../../../images/realistic_1-2_mob_2x.png 2x"
                    media="(max-width: 767.5px)"
                />
                <img src="../../../images/realistic_1-2_mob_1x.png" alt="модель частини двигуна">
            </picture>
        </li>
        <li>
            <a href="mailto:info@devstudio.com">
                <svg class="contacts__icon contacts__icon-mail" width="16" height="12">
                    <use href="../../../images/sprite.svg#envelope"></use>
                </svg>
                info@devstudio.com
            </a>
        </li>
        <li></li>
        <li></li>
    </ul>
    <button type="button"></button>
</section>