.container {
  max-width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  @include centeredMarg();

  @include mobile() {
    width: 480px;
  }
  @include tablet() {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
  @include desktop() {
    width: 1206px;
  }
}
